<link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/2640/2640637.png">

<div class="header">
  <img style="position:absolute; top:25px; right:15px; padding:8px;"
  src="https://cdn-icons-png.flaticon.com/512/2640/2640637.png" width="110" height="110"/>
</div>

<link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/935px-Python-logo-notext.svg.png">

<div class="header">
  <img style="position:absolute; top:25px; right:125px; padding:8px;"
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/935px-Python-logo-notext.svg.png" width="50" height="50"/>
</div>

# Listas 1 - ME715 2023/2S (Python)

**Grupo:**

 - Tiago Henrique da Cruz, RA:206333.
 - Marcelo Marcelo Henrique de Jesus, RA: 183168.
 - João Vitor Mantovani, RA: 199910.
 
**Instruções**

  * A seguinte lista deve ser **resolvida em grupo antes da próxima aula**.
  * A **resolução da lista será discutida em sala de aula por algúm dos grupos** (a participação
será avaliada).
  * O grupo/aluno que se negar a participar, terá pontos descontados.
  * Os exercícios computacionais **deverão ser resolvidos em R, Python e Julia**. Se os
resultados não baterem, o grupo deverá investigar o motivo das diferenças.

**Instalando a biblioteca:** `wooldridge`

In [ ]:
# pip install wooldridge

**Carregando as biblioteca:**

In [1]:
import wooldridge as wd
import pandas as pd
from scipy.stats import pearsonr
import math

## Questão 1

[C3] Os dados existentes no arquivo MEAP01 são do estado de Michigan no ano de 2001:

O Banco de dados contém 1823 observações e 11 variaveis, desses:

  * **dcode**: código do distrito;
  * **bcode**: código do edificio;
  * **math4**: percentual de estudantes satisfeitos com a matematica da quarta série; 
  * **read4**: percuntual de estudantes satisfeitos com a leitura da quarta série;
  * **lunch**: percentual de estudantes com almoço grátis ou desconto;
  * **enroll**: matrícula escolar;
  * **expend**: gasto total, ´$;
  * **exppp**: despesas por aluno, gasto/matricula;
  * **lenroll**: log(enroll);
  * **lexpend**: log(expend);
  * **lexppp**: log(exppp);

In [3]:
df = wd.data('meap01')

Use esses dados para responder às seguintes perguntas:

### item a) 

Encontre os **maiores e menores valores de math4**.

In [4]:
pd.DataFrame({"Minimo":df[["math4"]].min(),
              "Maximo":df[["math4"]].max()})

       Minimo  Maximo
math4     0.0   100.0

### item b)

Quantas escolas têm a **taxa de aprovação em matemática de exatamente 50%**?

In [5]:
pd.DataFrame({"Quantidade de escolas aprovadas em matemática com exatamente 50%": 
              [len(df[df.math4 == 50])]})

   Quantidade de escolas aprovadas em matemática com exatamente 50%
0                                                 17

### item c)

Compare as taxas médias de aprovação em matemática e leitura.

In [6]:
df.loc[:,["math4","read4"]].\
    agg(["mean"]).\
    round(3).\
    rename(index={"mean":"Média"})

        math4   read4
Média  71.909  60.062

In [7]:
print('O teste com aprovação mais dificil é a leitura com: %.3f' % df["read4"].mean())

O teste com aprovação mais dificil é a leitura com: 60.062

### item d)

Encontre a correlação entre math4 e read4.

In [16]:
print('Temos a correlação entre math4 e read4 de: %.4f' % 
      pearsonr(df['math4'], df['read4'])[0])

Temos a correlação entre math4 e read4 de: 0.8427

(0.8427281457721156, 0.0)

### item e)

A variável exppp são os gastos por aluno. **Encontre o exppp médio e seu desvio padrão**.

In [18]:
df.loc[:,["exppp"]].\
    agg(["mean", "std"]).\
    round(3).\
    rename(index={"mean":"Médio",
                  "std":"Desvio padrão"})

                  exppp
Médio          5194.865
Desvio padrão  1091.890

### item f)

Suponha que a escola A gaste `USD$6.000` por estudante e a escola B gaste `USD$5.500` por estudante. Com que percentual os gastos da escola A superam os da escola B? Compare isso a 100 × [log(6.000) − log(5.500)], que é a diferença percentual aproximada baseada na diferença dos logaritmos.

In [36]:
Atual = 100*((6000-5500)/5500)
log_val = 100*(math.log(6000)-math.log(5500))

print('Temos que os gastos da escola A que superam \
os da escola B em %.2f%%.' %(Atual-log_val))

Temos que os gastos da escola A que superam os da escola B em 0.39%.

## Questão 2

[C8] Os dados em ECONMATH foram obtidos de **estudantes de um grande curso universitário em introdução à microeconomia**. Para este probrema, estamos interessados em duas variáveis: **`score`, que é a nota do final do curso**, e, **`econhs`, que é uma variável binária que indica se um estudante fez um curso de economia no ensino médio**.

Seja as seguintes variaveis:

  * **age**: idade em anos;
  * **work**: horas de trabalho por semana;
  * **study**: horas de estudo por semana; 
  * **econhs**: se for 1, estudou economia no ensino médio;
  * **colgpa**: faculdade GPA, inicio do semestre;
  * **hsgpa**: nota média do ensino médio;
  * **acteng**: pontuação do inglês ACT;
  * **actmth**: pontuação da ACT;
  * **act**: composto ACT;
  * **mathscr**: pontuação do teste de matemática, 0-10;
  * **male**: se for 1, masculino;
  * **calculus**: se for 1, cursou cálculo;
  * **attexc**: se for 1, se passado attndce 'excelente'; 
  * **attgood**: se for 1, se passado attndce 'bom';
  * **fathcoll**: se for 1, o pai tem BA;
  * **mothcoll**: se for 1, a mãe tem BA;
  * **score**: nota do final do curso, em porcentual;

In [37]:
df2 = wd.data('econmath')

### item a)

Quantos estudantes estão na amostra? Quantos estudantes declaram ter frequentado um curso de economia no ensino médio?

In [42]:
def len_econhs_1(x):
    return(
        x.loc[x==1].\
        agg(len)
    )

df2.loc[:, ["econhs"]].\
    agg([len_econhs_1, len]).\
    rename(index={"len_econhs_1":"Alunos que cursou economia no ensino médio",
                  "len":"Total de estudantes"},
          columns = {"econhs": "Quantidade"})

                                            Quantidade
Alunos que cursou economia no ensino médio         317
Total de estudantes                                856

### item b)

Encontre a nota média dos alunos que frequentaram um curso de economia do ensino médio. Como se compara com a nota média daqueles que não o fizeram?

In [45]:
#df2[df2.econhs == 0].\
#    groupby("econhs")[["score"]].\
#    agg("mean").values[0][0].round(4)

df2.groupby("econhs")[["score"]].\
    agg(["mean"]).\
    round(4).\
    rename(columns = {"score": "Nota",
                      "mean": "Média"},
           index={0:"Não",
                  1:"Sim"})

           Nota
          Média
econhs
Não     72.9079
Sim     72.0759

In [27]:
print('Os estudantes que não fizeram economia no ensino médio \
teve um desempenho maior daqueles que realizaram, com um diferencial de 0.832.')

Os estudantes que não fizeram economia no ensino médio teve um desempenho maior daqueles que realizaram, com um diferencial de 0.832.

### item c)

Os resultados encontrados dizem necessariamente alguma coisa sobre o efeito causal de cursar economia no ensino médio sobre o desempenho no curso universitário? (explique).

Através dos resultados obtidos, não é possível afirmar a existência de um efeito causal em cursar economia no ensino médio sobre o desempenho no curso universitário. Isso se dá devido ao modo em que o experimento foi realizado. O experimento em questão é observacional, o que dificulta o estudo de fatores de confundimento e assim portanto impossibilitando a análise de efeito causal entre os fatores.

### item d)

Se quiser obter uma boa estimativa causal do efeito de fazer um curso de economia no ensino médio utilizando a diferença de médias, que experiência faria?

Para o estudo dos efeitos de causalidade, podemos melhorar o experimento de modo a balancear as classes do tratamento de interesse adicionar possíveis fatores de confundimento no experimento. De modo a realizar um experimento balanceado, podemos obter uma amostra com um número igual de alunos que estudaram economia no ensino médio e de alunos que não estudaram. Além da realização de um experimento balanceado, para o estudo de causalidade, é interessante adicionar no conjunto de dados possíveis fatores de confundimento, artigos científico já realizados e relacionados ao assunto seriam consultados.